* { margin: 0; padding: 0; }

body {
  font: 16px Ubuntu, sans-serif;
  background: #0d3502 url("background.png"); color: #fff;
}

.card {
  width: 100px; height: 150px;
  background: #fff;
  position: relative;
  border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px;
  border-style: solid; border-width: 10px; border-color: #fff;
  -webkit-box-shadow: 2px 2px 10px #0a2d00;
}
.card.closed { border-color: #888888; color: #888888; background: #000; }
.card.yellow { border-color: #fff539; color: #fff539; }
.card.green  { border-color: #089720; color: #089720; }
.card.blue   { border-color: #0747ff; color: #0747ff; }
.card.red    { border-color: #d50b00; color: #d50b00; }
.card .symbol {
  display: block;
  position: absolute; left: 5px; right: 5px;
}
.card .symbol:first-child {
  top: 5px;
  text-align: left;
}
.card .symbol ~ .symbol {
  bottom: 5px;
  text-align: right;
}
